  <!-- Floating 3D logo shapes background -->
  <div class="floating-shapes" aria-hidden="true">
    <div class="floating-shape shape-1"><img src="/static/logo.png" alt="" /></div>
    <div class="floating-shape shape-2"><img src="/static/logo.png" alt="" /></div>
    <div class="floating-shape shape-3"><img src="/static/logo.png" alt="" /></div>
    <div class="floating-shape shape-4"><img src="/static/logo.png" alt="" /></div>
    <div class="floating-shape shape-5"><img src="/static/logo.png" alt="" /></div>
  </div>